extends base.pug

block style
  style
    include ../static/style.css
    include ../static/styleServices.css

block content
  .container-services
    .heading
      h1 Our Services
    .services-video
      .video 
        h2 Classical Ballet
        <iframe src="https://www.youtube.com/embed/33QPDhhyMxw" title="Dance of the Hours from Ballet &quot;Gioconda&quot; - Vaganova Ballet Academy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p The Dance Academy enters students for the Royal Academy Of Dance where they receive a comprehensive, well-structured and relevant education in Classical Ballet. Classical ballet is any of the traditional, formal styles of ballet that exclusively employ classical ballet technique. It is known for its aesthetics and rigorous technique such as pointe work, turnout of the legs, and high extensions , its flowing, precise movements, and its ethereal qualities. Classical ballet developed in the late 19th century when Marius Petipa was ballet master in St Petersburg. Classical ballet is a mixture of the French style of Romantic ballet, the techniques developed in Italy in the late 19th century, and Russian teaching. When most people talk about ballet they think of Petipa's ballets, Swan Lake and The Sleeping Beauty.
      
      .video 
        h2 Modern/Jazz Dance
        <iframe src="https://www.youtube.com/embed/PZAg_4BtXck" title="CHANDELIER (SIA) MODERN JAZZ ROUTINE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p As students progress through the different levels, they acquire various skills. They learn correct posture and technique, and also appreciate varying musical styles and their interpretation. Students develop spatial awareness and self-expression, as well as a sense of performance. Jazz dance developed from both 19th- and 20th-century stage dance and traditional Black social dances and their white ballroom offshoots. On the stage, minstrel show performers in the 19th century developed tap dancing from a combination of Irish jigging, English clog dancing, and African rhythmic stamping. Tap dance and such social dances as the cakewalk and shuffle became popular vaudeville acts and appeared in Broadway revues and musical comedies as these replaced vaudeville early in the 20th century. In addition, comedy, specialty, and character dances to jazz rhythms became standard stage routines. By the 1940s elements of jazz dance had appeared in modern dance and in motion picture choreography.

      .video 
        h2 Spanish Dance
        <iframe src="https://www.youtube.com/embed/XNhfV_53W7A" title="Flamenco Dance, Seville, Spain" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p Dance Academy introduced Spanish Dancing five years ago and is gradually increasing in popularity. The syllabus is offered in a structured way to ensure that the art of Spanish Dancing is taught well, perusing excellence in presentation, execution and instruction. The first thing that comes to mind if you think about traditional Spanish dancing is Flamenco. You see a beautiful tall woman in a red dress with black dots whipping her skirt from side to side. But there are many variations widespread across the country. From the gypsy communities of the south, to the Celtic heritage of Galicia in the north. The rich and diverse culture of Spain is perfectly captured in our top 5 of traditional Spanish dancing. If you always wanted to go to Barcelona to learn one of these dances, but can't right now. Don't worry, there are a lot of dance schools giving online lessons. This way you are ready when you finally get to Barcelona in person.

      .video
        h2 Contemporary Dance
        <iframe src="https://www.youtube.com/embed/91sd4Jnwgjs" title="Contemporary Dance Solo: &quot;Halo&quot; By Beyonce" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p Classes for Contemporary Dance are held for student aged fourteen and over. A variety of Contemporary Dance techniques such as Graham, Limon and Alvin Ailey are studied. Contact improvisation is also tackled. Contemporary is an important genre of dance performed in societies around the world, celebrated by people both young and old. Developed during the 20th century, contemporary dance involves incorporating aspects of movement from several other genres such as jazz, modern and ballet. While contemporary is a popular type of dance worldwide, it is most common amongst the U.S and European countries. 

      .video 
        h2 Intensive Three year Teacher Training programmes
        <iframe src="https://www.youtube.com/embed/Pjn_Gwad_zo" title="Level 3 Flexibility Intensive - Teacher Training Course" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p Leading to the Certificate in Dance Teaching Studies and/or the BA Hons in Dance. Diploma In Dance is an intensive dance course that focuses on five key areas, namely dance technique, contextual research, dance practice, teaching skills, and choreography. The duration of diploma dance courses is generally from 6 months to 3 year. The main purpose of exposing this kind of diploma courses in dance is to help students or rising artists to exhibit and show their artistic talent to the world.

      .video 
        h2 Pilates/Yoga/Fitness Training
        <iframe src="https://www.youtube.com/embed/iSDzeOrtcNg" title="StepFlix Dance Pilates cardio fitness class, workout 1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        p Freestyle Yoga/Pilates targets flexibility, core stability and strength. It is a fitness programme that incorporates deep stretch, Yoga postures and Pilates exercise. It is not a spiritual experience. The benefits that one gains from different exercise classes are as follows: stamina, fat loss, regulation of blood pressure, toning and sculpting of muscles, release of tension and depression, our body becomes more sensitive to use of fat as fuel, prevention of Osteoporosis/breast cancer, lowering of cholesterol, better posture, increase of natural body pain killers, increase of metabolism, increase of bone density and strength, improves balance and co-ordination.

block scripts
  script(src='/static/index.js')
  <script src="https://kit.fontawesome.com/8b54449fd8.js" crossorigin="anonymous"></script>